[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = git@github.com:TheCherno/glfw.git
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = git@github.com:visuallization/imgui.git
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = git@github.com:g-truc/glm.git
